/* .div{
    background-color:#907b68 ;
} */
.h1{
  /*   color: #cd5c5c; */
    margin: 0px;
    background-color:#fffafa;
    color: #b56576;
} 
/* .nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #e7e2de;
} */

.nav a{
    padding: 10px;
    text-decoration: none;
    color: #b56576;

}

.nav a:hover {
    color:#cd5c5c;
}

.ul{
    margin: 0;
    background-color: #fffafa;
}